@font-face{
    font-family: 'sardonyxregular';
    src: url('font/sardonyx-webfont.eot');
    src: url('font/sardonyx-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sardonyx-webfont.woff') format('woff'),
         url('font/sardonyx-webfont.ttf') format('truetype'),
         url('font/sardonyx-webfont.svg#sardonyxregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'alteraregular';
    src: url('font/altera-webfont.eot');
    src: url('font/altera-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/altera-webfont.woff') format('woff'),
         url('font/altera-webfont.ttf') format('truetype'),
         url('font/altera-webfont.svg#alteraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}